.message {
    padding: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.avatar img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
}

.name {
    color: mediumpurple;
    font-weight: 600;
    font-size: 18px;
}

.text {
    max-width: 540px;
    /*flex-basis: 50%;*/
    margin: 10px 0px;
    color: white;
}

.bubble {
    padding: 10px;
    max-width: 1000px;
    background: black;
    position: relative;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-left: 100px;
    opacity: 80%;

}
.bubble:before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 100%;
    display: block;
    width: 20px;
    height: 20px;
    background: radial-gradient(40px at top left, transparent 50%, black 0) no-repeat right bottom;
}

.time {
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: 70%;
    color: #9fff09;
    opacity: 50%;
}