.message {
    padding: 10px;
    display: flex;
    align-items: end;
    background-color: #9fff09;
}
.avatar {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    color: mediumpurple;
    font-weight: bold;
    font-size: 18px;
}

.text {
    min-width: 150px;
    max-width: 450px;
    word-wrap: break-word;
    margin-top: 5px;
    color: white;
}

.bubble {
    padding: 10px;
    background: rgba(0, 0, 0, 0.75);
    position: relative;
    border-radius: 15px 15px 15px 0;
    margin-left: 12px;

}
.bubble:before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 100%;
    display: block;
    width: 20px;
    height: 20px;
    background: radial-gradient(40px at top left, transparent 50%, rgba(0, 0, 0, 0.75) 0) no-repeat right bottom;
}

.time {
    color: #9fff09;
    opacity: 50%;
    float: right;
    margin: -2px;


}